---
layout: default

features:
- icon: fa-diamond
  title: Portitor ullamcorper
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
- icon: fa-paper-plane
  title: Sapien veroeros
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
- icon: fa-rocket
  title: Quam lorem ipsum
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
- icon: fa-signal
  title: Sed magna finibus
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
posts:
- image: https://airbeagle.github.io/AirBeagle/images/Thumb.png
  title: Haven't We Met Somewhere Before?
  excerpt: The sense of deja-vu in post-election America.
  url: "#"
- image: https://airbeagle.github.io/AirBeagle/images/Trolley.png
  title: Clang Clang Clang
  excerpt: The clang-clang-clang-ing you hear is not the zing of your heartstrings. It’s the sound of a trolley approaching the point on the tracks where we tied ourselves down on 9-Nov-2016.
  url: "#"
- image: https://airbeagle.github.io/AirBeagle/images/SailorsKissing.png
  title: In the Navy
  excerpt: Franklin Delano Roosevelt, assistant secretary of the Navy, was once involved in getting American sailors to use themselves as bait for entrapping homosexual sailors (and even a priest) at the Providence, RI, YMCA. It's all juicy and hilarious and stuff. And the bait boys LOVED it.
  url: "#"
- image: https://airbeagle.github.io/AirBeagle/images/CanyonBoy.png
  title: March of Time: Changing Nothing
  excerpt: The inglorious destruction and futility of war is captured in a long forgotten book: Fragments from France by Bruce Bairnsfather. It shows the very human aspects of living life on the Western Front a century ago, and predates the much-heralded Bill Mauldin 'toons of 1941-45. Did Bruce Bairnsfather go over to Bill Mauldin's for root beer on Veteran's Day with Charles Schultz and Snoopy?
  url: "#"
- image: https://airbeagle.github.io/AirBeagle/images/Book.png
  title: The CIA and Literary Culture
  excerpt: Turns out, the CIA had many thumbs in many pies (and in many eyes) including "high culture" and literature. And they still do.
  url: "#"
- image: https://airbeagle.github.io/AirBeagle/images/Chicago.png
  title: Greasing the Pipeline to Prison with Some Old-Ass Grease
  excerpt: "'NEW!' Sirchie asserted on the cover of one of its catalogues, which served as a full-page advertisement for the 'New Fentanyl Reagent Available Now!' Sirchie described the kit as an 'industry first.' The only problem is that there is nothing new about the fentanyl kit except its name.”
  url: "#"
---

{% comment %}

	Theme: Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home Country.

	Description:

		A Land of Enchantment.

{% endcomment %}

<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h1>Haven't We Met Somewhere Before?</h1>
				<p>The sense of deja-vu in post-election America.</p>
				<h3>by Steve Pollock | Editor-in-Chief</h3>
			</header>
			<p>That a man who believes in extreme waterboarding and other inhumane torture methods is about to become the nation’s top law enforcement official means that someone will find themselves in Sophie’s or Johan’s shoes (although we strongly do not advocate Elser’s violence, we do admire his exceedingly great and very-rare-for-the-era courage.</p>
			<ul class="actions">
				<li><a href="#" class="button big">Read</a></li>
			</ul>
		</div>
		<span class="image object">
			<img src="{{ site.baseurl }}/images/Thumb.png" alt="" />
		</span>
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Don't Miss</h2>
		</header>
		{% include components/features.html features=page.features %}
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>This Week</h2>
		</header>
		{% include components/posts.html posts=page.posts %}
	</section>
