---
layout: default

features:
- icon: fa-thumbs-down
  title: The Idiotocratic Republic
  excerpt: UNC's David Reynolds <a href="http://www.vox.com/policy-and-politics/2016/12/27/14078646/north-carolina-political-science-democracy" title="North Carolina: No Democracy"><strong>declared</strong></a> last week "that his state of North Carolina 'can no longer be classified as a full democracy.'"
- icon: fa-long-arrow-down
  title: Dave Barry is Still Alive?
  excerpt: Dave Barry <a href="https://www.washingtonpost.com/lifestyle/magazine/dave-barrys-year-in-review-trump-and-the-hideous-monstrosity-that-was-2016/2016/12/29/17c84a14-b7d6-11e6-b8df-600bd9d38a02_story.html?hpid=hp_hp-top-table-main_yirr-5am%3Ahomepage%2Fstory" title="Dave Barry’s Year in Review: Trump and the ‘hideous monstrosity’ that was 2016"><strong>sums up</strong> one of the most truly sucked-ass-bigtime years we old folks can remember.
- icon: fa-list-ol
  title: Pearson: A. Idiots B. Greedy C. Parasites or D. All of the Above
  excerpt: Poet: "I can't answer these standardized test questions about my own poem." Sara Holbrook gives a big ol' HuffPost <a href="http://www.huffingtonpost.com/entry/standardized-tests-are-so-bad-i-cant-answer-these_us_586d5517e4b0c3539e80c341" title="I Can’t Answer These Texas Standardized Test Questions About My Own Poems"><strong>"Fuck you!"</strong> to the state of Texas and the taxpayer-tit-suckers at Pearson.
- icon: fa-star fa-star fa-star fa-star fa-star 
  title: Farewell, Amazing Artist We Didn't Know Existed!
  excerpt: Tyrus Wong <a href="http://www.nytimes.com/2016/12/30/movies/tyrus-wong-dies-bambi-disney.html?action=click&contentCollection=Health&module=Trending&version=Full&region=Marginalia&pgtype=article&_r=0" title="Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial Bias, Dies at 106"><strong>dies at age 106</strong></a>; world just clues in to the amazing things he did for over a century, things for which white men took credit.

posts:
- image: https://airbeagle.github.io/AirBeagle/images/Thumb.png
  title: Haven't We Met Somewhere Before?
  excerpt: The sense of deja-vu in post-election America.
  url: "#"
- image: https://airbeagle.github.io/AirBeagle/images/Trolley.png
  title: Clang Clang Clang
  excerpt: The clang-clang-clang-ing you hear is not the zing of your heartstrings. It’s the sound of a trolley approaching the point on the tracks where we tied ourselves down on 9-Nov-2016.
  url: "#"
- image: https://airbeagle.github.io/AirBeagle/images/SailorsKissing.png
  title: In the Navy
  excerpt: Franklin Delano Roosevelt, assistant secretary of the Navy, was once <a href="https://en.wikipedia.org/wiki/Newport_sex_scandal" title="The Providence Sex Scandal of 1919"><strong>involved</strong></a> in getting American sailors to use themselves as bait for entrapping homosexual sailors (and even a priest) at the Providence, RI, YMCA. It's all juicy and hilarious and stuff. And the bait boys LOVED it.
  url: "https://en.wikipedia.org/wiki/Newport_sex_scandal"
- image: https://airbeagle.github.io/AirBeagle/images/CanyonBoy.png
  title: March of Time: Changing Nothing
  excerpt: The inglorious destruction and futility of war is captured in a long forgotten book: <a href="http://www.gutenberg.org/ebooks/25951Fragments%20From%20France%20by%20Bruce%20Bairnsfather" title="Fragments From France by Bruce Bairnsfather"><strong>Fragments from France</strong></a> by Bruce Bairnsfather. It shows the very human aspects of living life on the Western Front a century ago, and predates the much-heralded Bill Mauldin 'toons of 1941-45. Did Bruce Bairnsfather go over to Bill Mauldin's for root beer on Veteran's Day with Charles Schultz and Snoopy?ran's d
  url: "http://www.gutenberg.org/ebooks/25951"
- image: https://airbeagle.github.io/AirBeagle/images/Book.png
  title: The CIA and Literary Culture
  excerpt: Turns out, the CIA had many thumbs in many pies (and in many eyes) including "high culture" and literature. <a href="https://lareviewofbooks.org/article/hijack-the-cia-and-literary-culture/" title="Hijack: The CIA and Literary Culture"><strong>And they still do.</strong></a>
  url: "https://lareviewofbooks.org/article/hijack-the-cia-and-literary-culture/"
- image: https://airbeagle.github.io/AirBeagle/images/Chicago.png
  title: Greasing the Pipeline to Prison with Some Old-Ass Grease
  excerpt: "'NEW!' Sirchie asserted on the cover of one of its catalogues, which served as a full-page advertisement for the 'New Fentanyl Reagent Available Now!' Sirchie described the kit as an 'industry first.' The only problem is that <a href="https://psmag.com/street-hustle-the-truth-behind-the-new-police-tool-for-fighting-fentanyl-76b28b9ffd0c#.8wg69jmm2" title="Street Hustle: The Truth Behind the ‘New’ Police Tool for Fighting Fentanyl"><strong>there is nothing new</strong></a> about the fentanyl kit except its name.”
  url: "https://psmag.com/street-hustle-the-truth-behind-the-new-police-tool-for-fighting-fentanyl-76b28b9ffd0c#.8wg69jmm2"
---

{% comment %}

	Theme: Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home Country.

	Description:

		A Land of Enchantment.

{% endcomment %}

<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h1>Haven't We Met Somewhere Before?</h1>
				<p>The sense of deja-vu in post-election America.</p>
			</header>
			<p>That a man who believes in extreme waterboarding and other inhumane torture methods is about to become the nation’s top law enforcement official means that someone will find themselves in Sophie’s or Johan’s shoes (although we strongly do not advocate Elser’s violence, we do admire his exceedingly great and very-rare-for-the-era courage.</p>
			<ul class="actions">
				<li><a href="#" class="button big">Read</a></li>
			</ul>
		</div>
		<span class="image object">
			<img src="{{ site.baseurl }}/images/Thumb.png" alt="" />
		</span>
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Don't Miss</h2>
		</header>
		{% include components/features.html features=page.features %}
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>This Week</h2>
		</header>
		{% include components/posts.html posts=page.posts %}
	</section>
