---
layout: default

features:
- icon: fa-diamond
  title: The Idiotocratic Republic
  excerpt: UNC's David Reynolds <a href="http://tinyurl.com/hglrtk5" title="North Carolina: No Democracy"><strong>declared</strong></a> last week "that his state of North Carolina 'can no longer be classified as a full democracy.'"
- icon: fa-paper-plane
  title: Dave Barry is Still Alive?
  excerpt: Dave Barry <a href="http://tinyurl.com/ha5hqdf" title="Dave Barry’s Year in Review: Trump and the ‘hideous monstrosity’ that was 2016"><strong>sums up</strong></a> one of the most truly sucked-ass-bigtime years we old folks can remember.
- icon: fa-rocket
  title: Pearson: A. Idiots B. Greedy C. Parasites or D. All of the Above
  excerpt: Poet: "I can't answer these standardized test questions about my own poem." Sara Holbrook gives a big ol' HuffPost <a href="http://tinyurl.com/zh9gf5n" title="I Can’t Answer These Texas Standardized Test Questions About My Own Poems"><strong>"Fuck you!"</strong></a> to the state of Texas and the taxpayer-tit-suckers at Pearson.
- icon: fa-signal
  title: Farewell, Amazing Artist We Didn't Know Existed!
  excerpt: Tyrus Wong <a href="http://tinyurl.com/jhvdvbd" title="Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial Bias, Dies at 106"><strong>dies at age 106</strong></a>; world just clues in to the amazing things he did for over a century, things for which white men took credit.

posts:
- image: /images/pic01.jpg
  title: Interdum aenean
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic02.jpg
  title: Nulla amet dolore
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic03.jpg
  title: Tempus ullamcorper
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic04.jpg
  title: Sed etiam facilis
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic05.jpg
  title: Feugiat lorem aenean
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic06.jpg
  title: Amet varius aliquam
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
---

{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Your site's home page.

{% endcomment %}

<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h1>Hi, I’m Editorial<br />
				by Pixelarity</h1>
				<p>A urna sed morbi natoque enim cubilia</p>
			</header>
			<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
			<ul class="actions">
				<li><a href="#" class="button big">Learn More</a></li>
			</ul>
		</div>
		<span class="image object">
			<img src="{{ site.baseurl }}/images/pic10.jpg" alt="" />
		</span>
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Erat lacinia</h2>
		</header>
		{% include components/features.html features=page.features %}
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Ipsum sed dolor</h2>
		</header>
		{% include components/posts.html posts=page.posts %}
	</section>
