{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Header

	Description:

		Site header.

	Example:

		{% include layout/header.html %}

{% endcomment %}

<!-- Header -->
	<header id="header">
		<a href="{{ site.baseurl }}/" class="logo">
			<strong>Home Country . US</strong> | A Land of Enchantment
		</a>
		<ul class="icons">
			<li><a href="https://twitter.com/AirBeagle/" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="https://www.facebook.com/steve.pollock.1654" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="https://www.instagram.com/airbeagle/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="http://www.linkedin.com/in/airbeagle" class="icon fa-linkedin"><span class="label">Linked In</span></a></li>
		</ul>
	</header>
